html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}


#root {
  width: inherit;
  min-height: 100%;
  position: relative;
  padding-bottom: 100px;
}
.App {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.main {

  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}

.mainContent {
}

/* Home page */

.homeContainer {
  width: 100%;
  height: 100%;
}

.slider {
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-grow: 1;
}

.cards {
  height: 300px;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

.cards a {
  background-repeat: no-repeat;
  flex-grow: 1;
}
.card  {
  min-width: 300px;
  height: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card > * {
  border: 1px solid red;
}
.card h2 {
  color: white;
}

.card h3 {
  color: white;
}

/* contact page */
.contactContainer {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;

}

.contactForm {
  display: flex;
}

/* residential page */
.residentialContainer img {
  width: 100%;
  height: 600px;
}

 .mainImage {
    position: relative;
}

.mainImage h1 {
  font-weight: 100;
  font-size: 40px;
  position: absolute;
  width: 100%;
  bottom: 70%;
  text-align: center;
  color: white;
}
.residentialContainer .mainContent {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.services {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.services  h1 {
  text-align: center;
}

.whySolar {
  background-color: #BADA55;
  opacity: 0.8;
  border-radius: 5px 150px 5px;
  padding: 50px;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
}
/* Menu */
.logo {
  background-color: #BADB90;
  float: left;
  padding-left: 100px;
  padding-right: 20px;
  border: 2px solid lightgrey;
}

.menu {
  padding-left: 400px;
  padding-right: 50px;
}

a.item.call {
  background-color: #BADA55;
}

.ui.secondary.pointing.menu {
    border-bottom: 0px;
}

.ui.secondary.pointing.menu .item.call {
    color: #BADA55;
}

.ui.secondary.pointing.menu .dropdown.item:hover,
.ui.secondary.pointing.menu .link.item:hover,
.ui.secondary.pointing.menu a.item:hover {
  background-color: transparent;
  box-shadow: none;
  border-color: #BADA55;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.95);
}

.ui.secondary.pointing.menu .dropdown.item.call:hover,
.ui.secondary.pointing.menu .link.item.call:hover,
.ui.secondary.pointing.menu a.item.call:hover {
  background-color: transparent;
  box-shadow: none;
  border: none;
  font-weight: bold;
  color: #BADB90
}

.ui.secondary.pointing.menu .item.active {
  background-color: transparent;
  box-shadow: none;
  border-color: #BADB90;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.95);
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: black;
  align-self: flex-end;
  width: 100%;
  margin-top: 30px;
  padding: 50px;
  display: flex;
}

.links {
  margin: auto;
  display: flex;

}

.footer h1, h3 {
    color: white;
    padding: 5px;
  }

  .footer h1:hover, h3:hover {
      color: grey;
    }
