.App {

}

.main {
  margin-top: 20px;
}
/* Menu */
.logo {
  float: left;
  padding-left: 200px;
  padding-right: 20px;
  border: 2px solid lightgrey;
}

.menu {
  padding-left: 400px;
  padding-right: 50px;
}

.ui.secondary.pointing.menu .dropdown.item:hover,
.ui.secondary.pointing.menu .link.item:hover,
.ui.secondary.pointing.menu a.item:hover {
  background-color: transparent;
box-shadow: none;
border-color: #1B1C1D;
font-weight: bold;
color: rgba(0, 0, 0, 0.95);
}

.footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 30px;
  padding: 30px;
  display: flex;
}

.links {
  margin: auto;
  display: flex;

}

.footer h1, h3 {
    color: white;
    padding: 5px;
  }

  .footer h1:hover, h3:hover {
      color: grey;
    }
