#root {
  width: inherit;
  height: inherit;
}
.App {
  width: inherit;
  height: inherit;
}

.main {
  margin-top: 20px;
  width: 100%;
  height: 100%;
}

.mainContent {
  margin-top: 10px;
}

/* Home page */
.homeContainer {
  max-width: 1600px;
  height: inherit;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.slider {
  width: 100%;
  height: 400px;
}

.cards {
  margin-left: 200px;
  margin-right: 200px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
/* contact page */
.contactContainer {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;

}

.contactForm {
  display: flex;
}
/* Menu */
.logo {
  float: left;
  padding-left: 200px;
  padding-right: 20px;
  border: 2px solid lightgrey;
}

.menu {
  padding-left: 400px;
  padding-right: 50px;
}

.ui.secondary.pointing.menu .dropdown.item:hover,
.ui.secondary.pointing.menu .link.item:hover,
.ui.secondary.pointing.menu a.item:hover {
  background-color: transparent;
box-shadow: none;
border-color: #1B1C1D;
font-weight: bold;
color: rgba(0, 0, 0, 0.95);
}

.footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 30px;
  padding: 30px;
  display: flex;
}

.links {
  margin: auto;
  display: flex;

}

.footer h1, h3 {
    color: white;
    padding: 5px;
  }

  .footer h1:hover, h3:hover {
      color: grey;
    }
