/* Slider */
.slider {
  max-height: 800px;
  width: 100%;
  position: relative;
}

.slide {
   height: 800px;
}

.slide h1 {
  font-size: 60px;
  position: absolute;
  width: 100%;
  color: white;
  text-align: center;
  top: 50%;
}

.slide h2 {
  font-size: 30px;
  position: absolute;
  width: 100%;
  color: white;
  text-align: center;
  top: 55%;
}

.contactButton {
  position: absolute;
  top: 65%;
  width: 100%;
  text-align: center;
}

.dotsContainer {
  position: absolute;
  bottom: 7%;
  width: 100%;
  text-align: center;
  z-index: 2;
}
.dotsContainer .dot {
  background: #222;
  padding: 0px 8px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 120px;
}
.dotsContainer .current {
  background: #fff;
}


.nextArrow {
  position: absolute;
  bottom: 7%;
  right: 40%;
  cursor: pointer;
  transition: all ease-in .2s;
  color: #fff;
  z-index: 3;
}
.nextArrow:hover {
  opacity: 0.5;
  transform: scale(1.4);
  transition: all ease-in .2s;
}

.backArrow {
  position: absolute;
  bottom: 7%;
  left: 40%;
  cursor: pointer;
  transition: all ease-in .2s;
  color: #fff;
  z-index: 3;
}
.backArrow:hover {
  opacity: 0.5;
  transform: scale(1.4);
  transition: all ease-in .2s;
}
