/* Slider */
.slider {
  max-height: 800px;
  width: 100%;
  position: relative;
}

.slide {
   height: 800px;
}

.slide h1 {
  font-size: 50px;
  position: absolute;
  width: 100%;
  color: white;
  text-align: center;
  top: 20%;
}
.contactButton {
  position: absolute;
  bottom: 15%;
  width: 100%;
  text-align: center;
}

.dotsContainer {
  position: absolute;
  bottom: 7%;
  width: 100%;
  text-align: center;
  z-index: 99999;
}
.dotsContainer .dot {
  background: #222;
  padding: 0px 8px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 120px;
}
.dotsContainer .current {
  background: #fff;
}


.nextArrow {
  position: absolute;
  top: 80%;
  right: 30%;
  cursor: pointer;
  transition: all ease-in .2s;
  color: #fff;
}
.nextArrow:hover {
  opacity: 0.5;
  transform: scale(1.4);
  transition: all ease-in .2s;
}

.backArrow {
  position: absolute;
  top: 80%;
  left: 30%;
  cursor: pointer;
  transition: all ease-in .2s;
  color: #fff;
}
.backArrow:hover {
  opacity: 0.5;
  transform: scale(1.4);
  transition: all ease-in .2s;
}
